<h3>Support</h3>

<ul>
	<li><b><a href="/etrice/documentation" title="Documentation">Documentation</a></b>
	- Details on eTrice</li>
	<li><b><a
		href="http://www.eclipse.org/forums/eclipse.etrice"
		title="http://www.eclipse.org/forums/eclipse.etrice" rel="nofollow">eTrice
	Newsgroup</a></b> - Discuss and ask questions</li>
	<li><b><a href="https://gitlab.eclipse.org/eclipse/etrice/etrice">eTrice at Eclipse GitLab</a></b> - where eTrice is hosted</li>
	<li><b><a href="https://gitlab.eclipse.org/eclipse/etrice/etrice/-/issues">open issues</a></b> - Review GitLab Issues</li>
</ul>

