<a name="getting-started"></a>
<h2>Getting Started</h1>

<div class="timeline">
	<div class="row">
		<div class="col-md-8 one gs-item">
			<div class="circle">1</div>
			<!-- ReleaseCheck (eclipse version) -->
			<h1>Download the Eclipse IDE</h1>
			<p>
				Eclipse eTrice requires an Eclipse installation. We recommend to install eTrice on top of the latest Eclipse release.</br>
				You can visit the Eclipse release site and download the installer.
			</p>
			<p><a class="btn btn-info" target="_blank" href="https://www.eclipse.org/downloads/packages/release/2023-06/r"><i class="fa fa-download"></i> Download Eclipse</a></p>
			<hr>
			<p>eTrice can be installed on top of any pre-packaged Eclipse IDE.
			But there are two Eclipse packages that might be suited in particular for your type of development together with eTrice:</p>
			<ul>
				<li><a target="_blank" href="https://www.eclipse.org/downloads/packages/release/2023-06/r/eclipse-ide-cc-developers">C/C++ Developers</a></li>
				<li><a target="_blank" href="https://www.eclipse.org/downloads/packages/release/2023-06/r/eclipse-ide-java-and-dsl-developers">Java and DSL Developers</a></li>
			</ul>
		</div>
		<div class="col-md-8 one gs-item">
			<div class="circle">2</div>
			<h1 class="fw-600">Install eTrice</h1>
			<p>eTrice can be installed by the means of the Eclipse update mechanism.</p>
			<p>
				You can drag the Marketplace link
				<a href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=169937" class="drag">
					<img src="/eclipse.org-common/themes/solstice/public/images/components/drag-drop/installbutton.png">
				</a> into your Eclipse workspace to install the latest release immediately or visit the download section below.
			</p>
			<p><a class="btn btn-warning" href="#latest-downloads">Latest Downloads</a></p>
		</div>
		<div class="col-md-8 three gs-item">
			<div class="circle">3</div>
			<h1>First Steps</h1>
			<p>The <a href="/etrice/documentation">eTrice documentation</a> contains several chapters, that are helpful	for someone new to eTrice:</p>
			<ul>
				<li>eTrice Overview</li>
				<li>Introduction to the ROOM language</li>
				<li>Getting Started, Tutorials and Examples</li>
			</ul>
			<p>For later steps, there are many advanced topics e.g. standalone generators and ROOM concepts or other sources to check out like the newsgroup or git repository.</p>
		</div>
	</div>
</div>

<a name="latest-downloads"></a>	
<h1>Latest Downloads</h1>
<!-- ReleaseCheck -->
<ul class="list-group">
	<li class="list-group-item">
		<a name="latest-release"></a>	
		<h3 style="margin-top: 0px; font-weight: 400;">Release 5.0.1</h3>
		<div role="alert" class="alert alert-warning">
			It is highly recommended to use Eclipse 2020-09 or later with Java 11+ to avoid any installation issues
		</div>
		<ul>
			<h4>eTrice Update Sites</h4>
			<table class="table table-condensed"><tbody>
				<tr class="active">
					<th>a)</th>
					<td>Drag & Drop install</td>
					<td><div class="drag_installbutton">
						<a href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=169937" class="drag">
							<img src="/eclipse.org-common/themes/solstice/public/images/components/drag-drop/installbutton.png">
							<div class="tooltip"><h3>Drag to Install!</h3>Drag to your running Eclipse workspace.</div>
						</a>
					</div></td>
					<td></td>
				</tr>
				<tr>
					<th>b)</th>
					<td>Update Site</td>
					<td><a class="panel" href="https://download.eclipse.org/etrice/5.0.1/updates">https://download.eclipse.org/etrice/5.0.1/updates</a></td>
					<td><a title="Installation instructions" href="/etrice/documentation/"><span class="fa fa-support"></span></a></td>
				</tr>
				<tr class="active">
					<th>c)</th>
					<td>Zip file </td>
					<td><a href="http://www.eclipse.org/downloads/download.php?file=/etrice/5.0.1/archives/org.eclipse.etrice.site-5.0.1.zip&amp;r=1">Download zip file</a></td>
					<td><a title="Installation instructions" href="/etrice/documentation/"><span class="fa fa-support"></span></a></td>
				</tr>
			</tbody></table>
				
			<h4>Standalone Generators</h4>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4"><a href="http://www.eclipse.org/downloads/download.php?file=/etrice/5.0.1/archives/org.eclipse.etrice.generator.java-5.0.1.zip&r=1">Java Generator</a></div>
					<div class="col-md-4"><a href="http://www.eclipse.org/downloads/download.php?file=/etrice/5.0.1/archives/org.eclipse.etrice.generator.c-5.0.1.zip&r=1">C Generator</a></div>
					<div class="col-md-4"><a href="http://www.eclipse.org/downloads/download.php?file=/etrice/5.0.1/archives/org.eclipse.etrice.generator.cpp-5.0.1.zip&r=1">C++ Generator</a></div>
					<div class="col-md-4"><a href="http://www.eclipse.org/downloads/download.php?file=/etrice/5.0.1/archives/org.eclipse.etrice.generator.doc-5.0.1.zip&r=1">Documentation Generator</a></div>
				</div>
			</div>
		</ul>
	</li>
</ul>

<p>All downloads are provided under the terms and conditions of the
<a href="https://www.eclipse.org/legal/epl/notice.php">Eclipse Foundation Software User
Agreement</a> unless otherwise specified.</p>
<p>
<p>Installation instruction can found at the <a href="/etrice/documentation/">documentation site</a>.</p>

<br>
<hr>

<h2>Developer Builds</h2>
<ul class="list-group">
	<li class="list-group-item">
		<a name="nightly-build"></a>	
		<h3 style="margin-top: 0px;">Nightly Build</h3>
		<ul>
			<p class="text-warning">Please keep in mind that this is the head development version! It might be unstable and contain any kind of errors.</p>
			<h4>eTrice Update Sites</h4>
			<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"><a class="panel" href="http://download.eclipse.org/etrice/nightly/updates">http://download.eclipse.org/etrice/nightly/updates</a></div>
			</div></div>
				
			<h4>Archives (standalone generators, update site zip)</h4>
			<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"><a class="panel" href="http://download.eclipse.org/etrice/nightly/archives/?d">http://download.eclipse.org/etrice/nightly/archives</a></div>
			</div></div>
		</ul>
	</li>
	<li class="list-group-item">
		<h3>All Developer Builds</h3>
		<ul>
			<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"><a class="panel" href="http://download.eclipse.org/etrice/">http://download.eclipse.org/etrice/</a></div>
			</div></div>
		</ul>
	</li>
</ul>

<br>
<hr>

<h2>Archived Releases</h2>
<!-- ReleaseCheck -->
<ul class="list-group">
	<li class="list-group-item">Release 5.0.0
		<ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/5.0.0/updates">https://download.eclipse.org/etrice/5.0.0/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/5.0.0/archives/org.eclipse.etrice.site-5.0.0.zip&amp;r=1">org.eclipse.etrice.site-5.0.0.zip</a>
            </li>
        </ul>
	</li>
	<li class="list-group-item">Release 4.0.1
		<ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/4.0.1/updates">https://download.eclipse.org/etrice/4.0.1/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/4.0.1/archives/org.eclipse.etrice.site-4.0.1.zip&amp;r=1">org.eclipse.etrice.site-4.0.1.zip</a>
            </li>
        </ul>
	</li>
	<li class="list-group-item">Release 4.0.0
		<ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/4.0.0/updates">https://download.eclipse.org/etrice/4.0.0/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/4.0.0/archives/org.eclipse.etrice.site-4.0.0.zip&amp;r=1">org.eclipse.etrice.site-4.0.0.zip</a>
            </li>
        </ul>
	</li>
	<li class="list-group-item">Release 3.2.2
        <ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/3.2.2/updates">https://download.eclipse.org/etrice/3.2.2/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/3.2.2/archives/org.eclipse.etrice.site-3.2.2.zip&amp;r=1">org.eclipse.etrice.site-3.2.2.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.2.1
        <ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/3.2.1/updates">https://download.eclipse.org/etrice/3.2.1/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/3.2.1/archives/org.eclipse.etrice.site-3.2.1.zip&amp;r=1">org.eclipse.etrice.site-3.2.1.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.2.0
        <ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/3.2.0/updates">https://download.eclipse.org/etrice/3.2.0/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/3.2.0/archives/org.eclipse.etrice.site-3.2.0.zip&amp;r=1">org.eclipse.etrice.site-3.2.0.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.1.4
        <ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/3.1.4/updates">https://download.eclipse.org/etrice/3.1.4/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/3.1.4/archives/org.eclipse.etrice.site-3.1.4.zip&amp;r=1">org.eclipse.etrice.site-3.1.4.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.1.3
        <ul>
            <li>Update site: <a href="https://archive.eclipse.org/etrice/3.1.3/updates">https://archive.eclipse.org/etrice/3.1.3/updates</a>
            </li>
            <li>ZIP file: <a href="http://archive.eclipse.org/etrice/3.1.3/archives/org.eclipse.etrice.site-3.1.3.zip">org.eclipse.etrice.site-3.1.3.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.1.2
        <ul>
            <li>Update site: <a href="https://archive.eclipse.org/etrice/3.1.2/updates">https://archive.eclipse.org/etrice/3.1.2/updates</a>
            </li>
            <li>ZIP file: <a href="http://archive.eclipse.org/etrice/3.1.2/archives/org.eclipse.etrice.site-3.1.2.zip">org.eclipse.etrice.site-3.1.2.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.1.1
        <ul>
            <li>Update site: <a href="https://archive.eclipse.org/etrice/3.1.1/updates">https://archive.eclipse.org/etrice/3.1.1/updates</a>
            </li>
            <li>ZIP file: <a href="http://archive.eclipse.org/etrice/3.1.1/archives/org.eclipse.etrice.site-3.1.1.zip">org.eclipse.etrice.site-3.1.1.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.1.0
        <ul>
            <li>Update site: <a href="https://archive.eclipse.org/etrice/3.1.0/updates">https://archive.eclipse.org/etrice/3.1.0/updates</a>
            </li>
            <li>ZIP file: <a href="http://archive.eclipse.org/etrice/3.1.0/archives/org.eclipse.etrice.site-3.1.0.zip">org.eclipse.etrice.site-3.1.0.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.0.3
        <ul>
            <li>Update site: <a href="https://download.eclipse.org/etrice/3.0.3/updates">https://download.eclipse.org/etrice/3.0.3/updates</a>
            </li>
            <li>ZIP file: <a href="http://www.eclipse.org/downloads/download.php?file=/etrice/3.0.3/archives/org.eclipse.etrice.site-3.0.3.zip&amp;r=1">org.eclipse.etrice.site-3.0.3.zip</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">Release 3.0.2
        <ul>
            <li>Update site: <a href="https://archive.eclipse.org/etrice/3.0.2/updates">https://archive.eclipse.org/etrice/3.0.2/updates</a>
            </li>
            <li>ZIP file: <a href="http://archive.eclipse.org/etrice/3.0.2/archives/org.eclipse.etrice.site-3.0.2.zip">org.eclipse.etrice.site-3.0.2.zip</a>
            </li>
        </ul>
    </li>
	<li class="list-group-item">Release 3.0.1
		<ul>
			<li>Update site: <a href="https://archive.eclipse.org/etrice/3.0.1/updates">https://archive.eclipse.org/etrice/3.0.1/updates</a>
			</li>
			<li>ZIP file: <a href="http://archive.eclipse.org/etrice/3.0.1/archives/org.eclipse.etrice.site-3.0.1.zip">org.eclipse.etrice.site-3.0.1.zip</a>
			</li>
		</ul>
	</li>
	<li class="list-group-item">Release 3.0.0
		<ul>
			<li>Update site: <a href="https://archive.eclipse.org/etrice/3.0.0/updates">https://archive.eclipse.org/etrice/3.0.0/updates</a>
			</li>
			<li>ZIP file: <a href="http://archive.eclipse.org/etrice/3.0.0/archives/org.eclipse.etrice.site-3.0.0.zip">org.eclipse.etrice.site-3.0.0.zip</a>
			</li>
		</ul>
	</li>
</ul>
