<div class="sideitem block-box-classic" style="text-align: center; background: #FFFFFF;">
	<h2>Incubation</h2>
	<div class="content">
		<a href="/projects/what-is-incubation.php"> <img align="middle"
			src="http://www.eclipse.org/images/egg-incubation.png" border="0"
			alt="Incubation" />
		</a>
		<p>
			This project is in the <a
				href="/projects/dev_process/incubation-phase.php">Incubation
				Phase</a>.
		</p>
	</div>
</div>
