<div class="sideitem">
<h2>More...</h2>
<ul>
	<li><a href="http://www.eclipse.org/projects/project_summary.php?projectid=modeling.mdt.etrice">About this project</a></li>
	<li>Read the <a href="/proposals/etrice">proposal</a></li>
	<li>Join the discussions at the <a href="http://www.eclipse.org/forums/eclipse.etrice">forum</a></li>
</ul>
</div>
