<h3>Communication Channels</h3>

<h4>Eclipse eTrice developer Mailing List</h4>
<p>Follow and participate in discussions on the eTrice modeling tools. You can <a
	href="https://dev.eclipse.org/mailman/listinfo/etrice-dev">subscribe here</a>.</p>

<h4>Eclipse eTrice Wiki</h4>
<p>The <a href="http://wiki.eclipse.org/ETrice">eTrice Wiki</a> has more information in case you are interested in eTrice
tooling and middleware development or are interested in our planning or development
process.</p>

<h4>Eclipse eTrice Project Plan</h4>
<p>There is no current project plan for eTrice.</p>

<h4>Eclipse eTrice issues are tracked in Eclipse GitLab</h4>
<p>Find a list of open issues <a href="https://gitlab.eclipse.org/eclipse/etrice/etrice/-/issues">here</a>.</p>

<h4>Source Code</h4>
<p>The source code of eTrice is hosted on <a href="https://gitlab.eclipse.org/eclipse/etrice/etrice">Eclipse GitLab</a>.</p>
