<h2>Documentation</h2>

<p>
Eclipse eTrice provides the documentation in two different formats:
	<ul>
		<li>
			<a href="release" style="font-size: 14pt;font-weight: bold;text-decoration;text-decoration: underline;">Online Documentation</a>
			<br><br>
		</li>
		<li>Eclipse Help Plugin providing assistance directly in your Eclipse IDE. <br>See menu: <strong>Help -> Help Contents -> eTrice Help</strong> </li>
		
	</ul>
</p>

<hr>

<a name="installation-instructions"></a>
<h2>Installation Instructions</h2>
<h3>eTrice Update Site</h3>
<p>In your running Eclipse choose <strong>Help -> Install New Software...</strong> from the menu.</p>
<ul>
	<li>Update site: Insert one of the URLs from the download site into the first text field (see image).</li>
	<li>Zipped file: First click on <strong>Add...</strong> and then in the dialog click <strong>Archive...</strong> in order to browse to the downloaded file.</li>
</ul>
<p>After a short moment, you can select <em>eTrice</em>  (and additional features) and continue the installation process.</p>
<p><img alt="Install New Software" src="/etrice/images/doc_update-site.png" class="img-rounded"></p>

<h3>Eclipse</h3>
<p>You will need a <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Java Runtime Environment (JRE)</a> to use Eclipse (<a href="https://wiki.eclipse.org/Eclipse/Installation#Install_a_JVM">Install a JVM</a>).</p>
<p>If Eclipse fails to start see <a href="https://wiki.eclipse.org/Eclipse/Installation#Troubleshooting">Installation#Troubleshooting</a> and if you want to specify the used JVM manually, see <a href="https://wiki.eclipse.org/Eclipse.ini">Eclipse.ini</a>.


